/* styles.css */
.vertical-timeline-element-title {
  font-size: 1.2em;
  font-weight: bold;
}

.vertical-timeline-element-content {
  font-size: 1em;
}

.vertical-timeline-element img {
  width: 100%;             /* Imposta la larghezza al 100% del contenitore */
  max-width: 200px;       /* Limita la larghezza massima a 200px */
  height: auto;           /* Mantiene il rapporto d'aspetto dell'immagine */
  border-radius: 5px;     /* Angoli arrotondati */
  margin-top: 10px;       /* Spazio sopra l'immagine */
  object-fit: cover;      /* Assicura che l'immagine riempia il contenitore senza distorsioni */
}
@media (max-width: 768px) {
  .vertical-timeline-element img {
      max-width: 150px;   /* Limita la larghezza massima a 150px per schermi piccoli */
  }
}

@media (max-width: 480px) {
  .vertical-timeline-element img {
      max-width: 100px;   /* Limita la larghezza massima a 100px per schermi extra piccoli */
  }
}
